@font-face {
    font-family: AkiraExpanded;
    src: url('fonts/Akira Expanded.otf');
}


@font-face {
    font-family: RoclettePro-Medium;
    src: url('fonts/RoclettePro-Medium.ttf');
}

@font-face {
    font-family: RoclettePro-Light;
    src: url('fonts/RoclettePro-Light.ttf');
}

/*
========================================
BASE PAGE CSS, nav, logos, and audio bar
========================================
*/

/*
    GENERAL
________________
*/

*,
*::before, 
*::after{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

:root{

    --clr-accent: #F24C27;
    --clr-dark: #262626;

    --clr-text: #fff;

    --fnt-big-bold: AkiraExpanded;
    --fnt-reg: RoclettePro-Medium;
    --fnt-light: RoclettePro-Light;

    --fnt-size-song: 20px;
    --fnt-size-album: 25px;

    --gap: 5rem;
}


body{
    font-family: var(--fnt-reg);
    font-size: 20px;
}

#wrapper{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

button{
    --webkit-appearance: none;
    background: transparent;
    border: none;
}

/*
    GRADIENT based on "Stack Findover" https://www.youtube.com/watch?v=LbAX-Rw7Tus&t=62s&ab_channel=StackFindover
________________
*/

.animated {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .wrapper {
    width: 400px;
    height: 400px;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: -3;
  }
  .wrapper div {
    position: absolute;
    filter: blur(500px);
    opacity: 0.8;
    -webkit-filter: blur(50px);
    
  }
  .animated .one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: var(--clr-text) ;
    left: -50px;
    top: -300px;
    z-index: -2;
    
  }
  .animated .two {
    width: 500px;
    height: 800px;
    background-color:  #ff333d;
    bottom: -30px;
    left: -80px;
    z-index: -3;
  }
  .animated .three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom: -80px;
    right: -100px;
    z-index: -3;
    background-color: #ffcb57;
    animation: flyPlus 10s linear infinite;
    -webkit-animation: flyPlus 10s linear infinite;
    transform: rotate(0) translate(200px) rotate(0);
    -webkit-transform: rotate(0) translate(200px) rotate(0);
    -moz-transform: rotate(0) translate(200px) rotate(0);
    -ms-transform: rotate(0) translate(200px) rotate(0);
    -o-transform: rotate(0) translate(200px) rotate(0);
  }

  .four {
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: auto;
    bottom: 0;
    right: 0;
    background-color: #A0A2F5;
    animation: flyPlus 15s linear infinite;
    -webkit-animation: flyPlus 15s linear infinite;
    transform: rotate(0) translate(200px) rotate(0);
    -webkit-transform: rotate(0) translate(200px) rotate(0);
    -moz-transform: rotate(0) translate(200px) rotate(0);
    -ms-transform: rotate(0) translate(200px) rotate(0);
    -o-transform: rotate(0) translate(200px) rotate(0);
  }
  

  @keyframes fly {
    100% {
      transform: rotate(2turn) translate(200px) rotate(-2turn);
      -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
  }

  @keyframes flyPlus {
    100% {
      transform: rotate(-2turn) translate(200px) rotate(2turn);
      -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
  }

/*
    NAV
________________
*/

#levels-logo{
    
    max-width: 2rem;
    margin-right: 1rem;
}


#logo-img-and-text{
    font-size: 12px;
    display: flex;
    align-items: center;
}

#levels-logo-text{
    font-family: var(--fnt-big-bold);
    font-size: 2em;
    

}

nav{
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin: 0;

    width: 100vw;

    
    

    
    background-color: var(--clr-accent);
    padding: 1vh;
    border-radius: 1rem 1rem 0 0;
    

}

nav ul{
    display: flex;
    list-style-type: none;
    gap: var(--gap, 1rem);

    justify-content: center;
   
}

nav a{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
    border: none;

    font-size: 13px;
    letter-spacing: 0.1em;
    font-family: var(--fnt-reg);
    color: var(--clr-text);

    transition: ease-in-out 200ms;
    
    
}

nav img{
    max-width: 1.5rem;
    
   
}

nav a:not(.navActive):hover
{
  
    animation: jump 1s ease-in-out;
    transition: ease-in-out 200ms;
    
}


.navActive::after{
    content: "";
    width: 3rem;
    height: 0.3rem;
    background-color: var(--clr-dark);

    

    border-radius: 0.1rem;

    position: absolute;
    
    
    top: -0.02rem;
    animation: bar 200ms ease-in-out;
}


@keyframes jump {
    0%{
        transform: scale(1);
        
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
        
    }
}

@keyframes bar {
    0%{
        width: 0rem;
        
        
    }
    
    100%{
        width: 3rem;

    }

    
}

/*
    AUDIO BAR
________________
*/



#audio-controls{
 
    position: fixed;
    display: flex;

    flex-direction: column;
    
    bottom: 0rem;
    margin: 0;

    width: 100vw;

    gap: 5%;

    background-color: var(--clr-dark);
    padding: 2vh 2vh 11vh 2vh;
    border-radius: 1rem 1rem 0 0;

    color: var(--clr-text);

  
}

#seek-contain{
    display: flex;
    align-items: center;
    justify-content: center;

}

#seek-bar, #volume{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    width: 80rem;
    background: var(--clr-accent);
    border-radius: 1rem;
    height: 0.2rem;

}

#volume{
    width: 5rem;
}

#seek-bar::-webkit-slider-thumb, #volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
   appearance: none;
    
   background-color: var(--clr-text);
   height: 0.7rem;
   width: 0.7rem;
   border-radius: 1rem;
    
}



#song-info-contian, #vol-contain{
    display: inherit;
    flex-direction: column;
    
}

#player-cover-photo{
    max-width: 5rem;
    border-radius: 1rem;
    

    
    
}

#player-song-name{
    font-family: var(--fnt-big-bold);
    
    
}

#player-artist-name{
    font-family: var(--fnt-light);
    
}

#play-pause{
    -webkit-appearance: none;
    width: 3rem;
    border: none;
    align-self: center;
    
}

#play-pause::after{
    content: " ";
    width: 2.4rem;
    height: 2.9rem;
    background: var(--clr-accent);
    border-radius: 1rem;


    position: absolute;
    left: 52%;
    top: 52%;
    z-index: -1;
}

#vol-contain{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    padding-bottom: 2rem;
}

#vol-contain img{
    width: 1rem;
}


@media (max-width: 40rem){
    #vol-contain{
        display: none;
        
    }

    

    
}

.--flex-space-between{

    display: flex;
    gap: 0.7em;
    justify-content: space-between;
}

.--flex-center{
    display: flex;
    gap: 0.7em;
    justify-content: center;

    
}

#like-button, #loop{
    width: 1.5rem;
}





/*
==========================
HOME PAGE CSS, searchbar
==========================
*/

#hme-search-songs{
    height: 1.5rem;
    width: 15rem;
    border: none;
    background-color: rgb(224, 220, 220);
    border-radius: 2rem;

    background-image:url('images/search.svg');
    background-repeat:no-repeat;
    background-position:right top;
    
    padding-right:2rem;

    
    font-family: var(--fnt-reg);
    letter-spacing: 0.1rem;
}

#hme-search-songs::placeholder{
    color: var(--clr-dark);
    font-family: var(--fnt-reg);
    letter-spacing: 0.1rem;
}


#hme-search-songs::-webkit-search-cancel-button{
    -webkit-appearance: none;
    
    height: 1rem;
    width: 1rem;
    border-radius:1rem;

    background:url('images/cancel.svg');
    background-size: contain;
  
    

}
